{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "semi":"off",
       "object-curly-spacing":"off",
       "quotes":"off",
       "max-len":"off",
       "spaced-comment":"off",
       "no-trailing-spaces":"off",
       "arrow-parens":"off",
       "space-before-blocks":"off"

    }
}